<div class="row panel panel-primary padding1x">
      <div class="col-md-5">
        <!-- <img class="img-thumbnail" src="/assets/site/GbamyLogo.png"> -->
        <img class="img-thumbnail" src="//placehold.it/100x100">
        
      </div>
      <div class="col-md-7">
        <!-- Header -->
        <div class="row ">
          <span>Patrick Oyekan</span>
          <span class="text-primary">|</span>
          <span class="glyphicon glyphicon-user"></span>
          <span>890</span>
        </div>
        <!-- Header -->

        <!-- Body -->
        <div class="row">
            <app-rating-star>
            </app-rating-star>
        </div>
        <!-- Body -->

        <!-- Footer -->
        <div class="row">
            <span class="glyphicon glyphicon-eye-open small"></span>
            <a class="text-primary small"> 20 views</a>
            <span class="glyphicon glyphicon-pencil small"></span>
            <a class="text-primary small"> 9 reviews</a>
            <div> <span class="glyphicon glyphicon-map-marker"></span><span class="small"> Lagos, Nigeria</span></div>
         </div>
        <!-- Footer -->
      </div>
</div>
